<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Admin Panel</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body class="admin-panel">
    <div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">
        <app-qto-sidebar></app-qto-sidebar>
        <!-- <ng-scrollbar class="admin-panel"> --> 
            <main class="page-content">
                <ialerts></ialerts>
                <nav class="navbar navbar-dark bg-dark stick-top">
                    <button type="button" class="sidebar-toggler">
                        <i class="fa fa-bars" aria-hidden="true" (click)="toggleSidebar()"></i>
                    </button>
                    <h4 style="color: #fafafa;">TBD</h4>
                </nav>

                <div class="main-container">
                    <router-outlet></router-outlet>
                </div>
                <div class="overlay" (click)="toggleSidebar()" [ngClass]="{'show' : !getSideBarState()}"></div>
            </main>
        <!-- </ng-scrollbar> -->
    </div>
</body>
</html>
