<div class="container-fluid">

    <div class="d-flex justify-content-between">
        <h4>Coupons</h4>
        <button class="green sm mb-2" [disabled]="loading" (click)="openModal(FormModal,-1)">Add
        </button>
    </div>

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Code</th>
                    <th>Discount</th>
                    <th>Type</th>
                    <th>Usage Limit</th>
                    <th>Usage Count</th>
                    <th>Expiry Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <ng-container *ngIf="dataStatus == 'fetching'">
                <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
            </ng-container>

            <ng-container *ngIf="dataStatus == 'done'">
                <tbody *ngIf="data.length > 0; else noDataFound">
                    <tr *ngFor="let d of data; let i = index">
                        <td>{{d.title}}</td>
                        <td>{{d.code}}</td>
                        <td>{{d.discount}}</td>
                        <td *ngIf="d.discount_type === 'perc'">Percent(%)</td>
                        <td *ngIf="d.discount_type === 'fixed'">{{d.discount_type}}</td>
                        <td>{{d.usage_limit}}</td>
                        <td>{{d.max_used}}</td>
                        <td>{{d.expiry_date}}</td>
                        <td class="d-flex justify-content-start" style="align-items: center;">

                            <div class="image-upload">
                                <button [disabled]="waiting[i]" *ngIf="d.status == 'active'" button class="sm red" [ngClass]="waiting[i]?'in-progress':''" (click)="inactiveCoupon(d.id, i)">Inactive
                                    <span></span><span></span><span></span>
                                </button>
                                <button [disabled]="waiting[i]" *ngIf="d.status == 'inactive'" [ngClass]="waiting[i]?'in-progress':''" button class="sm green" (click)="activeCoupon(d.id,i)">Active
                                    <span></span><span></span><span></span>
                                </button>
                            </div>
                            <div class="px-2 danger">
                                <i class="fa fa-trash" style="color: red;" (click)="confirmingModal(deleteUserModal, d.id,i)"></i>
                            </div>
                            <!-- <div class="px-2 danger">
                                <i class="fa fa-edit" style="color: orange;" (click)="openModal(FormModal,i)"></i>
                            </div> -->
                        </td>
                    </tr>
                </tbody>

                <ng-template #noDataFound>
                    <tbody>
                        <tr>
                            <td colspan="8">
                                <app-no-data-found></app-no-data-found>
                            </td>
                        </tr>
                    </tbody>
                </ng-template>
            </ng-container>
        </table>


        <nav aria-label="Page navigation example" *ngIf="dataStatus == 'done'">
            <ul class="pagination justify-content-left  mt-3">
                <li class="page-item">
                    <small *ngIf="page<10">Current Page: 0{{page}}</small>
                    <small *ngIf="page>=10">Current Page: {{page}}</small>
                </li>
            </ul>
            <ul class="pagination justify-content-left">
                <li class="page-item" *ngIf="pagination.prev_page_url != null">
                    <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(page-1)">Previous</a>
                </li>
                <li class="page-item disabled" *ngIf="pagination.prev_page_url == null">
                    <a class="page-link" href="javascript: void(0)" tabindex="-1">Previous</a>
                </li>
                <ng-container *ngIf="pagination.last_page <= 6">

                    <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                        <li [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                            <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                        </li>
                    </ng-container>

                </ng-container>

                <ng-container *ngIf="pagination.last_page >= 7">

                    <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                        <li *ngIf="i<4" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                            <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                        </li>
                        <li *ngIf="(pagination.last_page-i) == 3" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                            <a class="page-link">...</a>
                        </li>
                        <li *ngIf="(pagination.last_page-i)==1 || (pagination.last_page-i)==2" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                            <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                        </li>
                    </ng-container>

                </ng-container>

                <li class="page-item" *ngIf="pagination.next_page_url != null">
                    <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(+page+1)">Next</a>
                </li>
                <li class="page-item disabled" *ngIf="pagination.next_page_url == null">
                    <a class="page-link" href="javascript: void(0)" tabindex="-1">Next</a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<ng-template #FormModal>
    <div class="modal-header">
        <h4 class="modal-first_name pull-left">Add Coupon</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="dataForm" (ngSubmit)="save(dataForm, f)" #f="ngForm">

            <div class="row">

                <div class="col-md-6 mb-2">
                    <label class="mb-0">Title <span class="mendatory">*</span></label>
                    <input formControlName="title" class="form-control mt-0" placeholder="Enter Title" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.title, f)" class="errors">
                        <p *ngIf="g.title.errors.required">Titile is required</p>
                        <p *ngIf="g.title.errors.maxlength">Maximum {{ g.title.maxlength.requiredLength }} charaters</p>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <label class="mb-0">Code<span class="mendatory">*</span></label>
                    <input disabled formControlName="code" class="form-control mt-0" placeholder="" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.code, f)" class="errors">
                        <p *ngIf="g.code.errors.required">Code Name is required</p>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <label class="mb-0">Type<span class="mendatory">*</span></label>
                    <select formControlName="discount_type" class="form-control mt-0" [ngClass]="{'form-submitted': f.submitted}">
                        <option value="">Select Type</option>
                        <option value="fixed">Fixed</option>
                        <option value="perc">Percentage</option>
                    </select>
                    <div *ngIf="ui.checkErrors(g.discount_type, f)" class="errors">
                        <p *ngIf="g.discount_type.errors.required">discount Type is required</p>
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label class="mb-0">Discount</label>
                    <input type="number" min="0" formControlName="discount" class="form-control mt-0" placeholder="Enter Discount" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.discount, f)" class="errors">
                        <p *ngIf="g.discount.errors.required">discount is required</p>
                        <p *ngIf="g.discount.errors.min">discount cant be less then 0</p>
                        <p *ngIf="g.discount.errors.max">discount percentage can,t exceed 100%</p>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <label class="mb-0">Limit Usage</label>
                    <input type="number" formControlName="usage_limit" class="form-control mt-0" placeholder="Enter Usage Limit" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.usage_limit, f)" class="errors">
                        <p *ngIf="g.usage_limit.errors.required">Usage Limit is required</p>
                    </div>
                </div>


                <div class="col-md-6 mb-2">
                    <label class="mb-0">Expiry Date</label>
                    <input type="text" class="form-control mt-0" [minDate]="minDate" bsDatepicker [bsConfig]="{ dateInputFormat: 'MMMM Do YYYY',adaptivePosition: true }" formControlName="expiry_date" placeholder="Enter Expiry Date" [ngClass]="{'form-submitted': f.submitted}" />
                    <div *ngIf="ui.checkErrors(g.expiry_date, f)" class="errors">
                        <p *ngIf="g.expiry_date.errors.required">Expiry Data is required</p>
                    </div>
                </div>


            </div>
            <button type="submit" [disabled]="loading" [ngClass]="loading?'in-progress': ''" class="red sm m-1">save
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button type="button" class="black sm ml-1" (click)="cancelButton(f)">Cancel</button>

        </form>
    </div>
</ng-template>


<ng-template #deleteUserModal>
    <div class="modal-body text-center">
        <p>Do you want to delete coupon?</p>
        <button type="button" class="sm green" (click)="modalRef.hide()">No</button>
        <button type="button" class="sm red" (click)="delete()">Yes</button>
    </div>
</ng-template>
