<!-- ssss -->
<div class="heading">
    <h3>Change Password:</h3>
</div>
<div class="form_holder">
    <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)" #f="ngForm">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Old Password<span class="mendatory">*</span></label>
                    <input type="password" class="fadeIn" formControlName="old_password" placeholder="Enter old password">
                    <div *ngIf="ui.checkErrors(g.old_password, f)" class="errors">
                        <p *ngIf="g.old_password.errors.required">Old password is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>New Password<span class="mendatory">*</span></label>
                    <input type="password" class="fadeIn" formControlName="new_password" placeholder="Enter new password">
                    <div *ngIf="ui.checkErrors(g.new_password, f)" class="errors">
                        <p *ngIf="g.new_password.errors.required">New password is required</p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label>Confirm Password<span class="mendatory">*</span></label>
                    <input type="password" class="fadeIn" formControlName="password_confirmation" placeholder="Confirm password">
                    <div *ngIf="ui.checkErrors(g.password_confirmation, f)" class="errors">
                        <p *ngIf="g.password_confirmation.errors.required">Password Confirmation</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button [disabled]="updateLoading" [ngClass]="updateLoading?'in-progress':''" type="submit" class="primary">Update Password
                <span></span><span></span><span></span>
            </button>
        </div>
    </form>
</div>