.headbar {
    overflow: hidden;
    background-color: rgb(189, 189, 189);
    margin: -10px -20px 50px -20px;
}

ul#progressbar {
    padding-inline-start: 0;
}

#progressbar li {
    width: 132px;
    height: 85px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: #084887;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0 10px 0px 10px;
    padding: 2px 0 0 0;
    cursor: pointer;
    float: left;
    text-align: center;
    list-style-type: none;
}
#progressbar li p {
    color: #ffffff;
    font-size: 15px;
    margin: -2px 0 0 0;
    line-height: 1;
}
#progressbar li i {
    color: #ffffff;
}

#progressbar li.active {
    color: #084887;
    background: #ffffff;
}
#progressbar li.active p,
#progressbar li.active i {
    color: #084887;
}

#progressbar #details:before {
    font-family: FontAwesome;
    content: "\f46d";
    font-size: 27px;
}

#progressbar #planHolders:before {
    font-family: FontAwesome;
    content: "\f1ad";
    font-size: 27px;
}

#progressbar #planDocument:before {
    font-family: FontAwesome;
    content: "\f15b";
    font-size: 27px;
}

#progressbar #specsDocument:before {
    font-family: FontAwesome;
    content: "\f15c";
    font-size: 27px;
}

#progressbar #addendumDocument:before {
    font-family: FontAwesome;
    content: "\f574";
    font-size: 27px;
}

#progressbar #otherDocument:before {
    font-family: FontAwesome;
    content: "\f574";
    font-size: 27px;
}

#progressbar #qtoDocument:before {
    font-family: FontAwesome;
    content: "\f0ae";
    font-size: 27px;
}
@media only screen and (max-width: 1024px) {
    #progressbar li {
        width: 135px;
        margin: 3px 3px;
    }
}
