.register_holder{
    padding: 50px 0;
}
.register_form{
    position: relative;
    background: #fff;
    border-radius: 10px;
    padding: 40px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.login_form{
    max-width: 650px;
    margin: 0 auto;
}
.register_form input[type="text"],
.register_form input[type="password"]{
    width: 100%;
    border: 1px solid #E0E0DB;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
}
.register_form input[type="submit"]{
    background: #d51c28;
    border: 1px solid #d51c28;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 25px;
}