/*Radio Button*/
.radio_container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .radio_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: #E0E0E0;
    border-radius: 50%;
  }
  .radio_container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .radio_container input:checked ~ .checkmark {
    background-color: #0f75bc;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .radio_container .checkmark:after {
      display: block;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: white;
  }