.admin-panel {
    --ap-red: #d51c28;
    --ap-black: #555555;
    --ap-green: #04A28C;
    --ap-blue: #098dcc;
    --ap-yellow: #FFCE00;
    --ap-bright-green: #04a217;
    --ap-full-black: #000;
    --error-color: #ff0000;
}

.website{
    --iprimary: #084887;
    --isecondary: grey;
    --iinfo: lightblue;
    --iwarning: orange;
    --idanger: red;
}