.website {
    html {
        scroll-behavior: smooth;
    }
    a:focus{
        outline: none!important;
        box-shadow: none;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }
    * {
        font-family: "Open Sans", sans-serif;
    }
    .mendatory {
        color: red;
    }
    .loader-row {
        width: 100%;
        text-align: center;
        min-height: 200px;
    }
    .data-loader {
        width: 70px;
        margin-top:20vh;
    }
    .in-progress span {
        animation-name: blink;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        border-radius: 50%;
        display: inline-block;
        width: 8px;
        height: 8px;
        background: #fff;
        margin: 0 3px;
    }

    .in-progress span:nth-child(2) {
        animation-delay: .2s;
    }

    .in-progress span:nth-child(3) {
        animation-delay: .4s;
    }
}
@keyframes blink {
    0% {
        opacity: .2;
    }

    20% {
        opacity: 1;
    }

    100% {
        opacity: .2;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    .print-content {
        visibility: visible;
        position: absolute;
        top: 50px;
        left: 50px;
        width: calc(100% - 100px);
    }

    .print-content * {
        visibility: visible;
    }
    .print-content .print-content-logo{
        display: flex;
        justify-content: center;
    }
    .print-content .print-heading{
        display: flex;
        justify-content: flex-start;
    }

}
.print-content-logo {
    display: none;
}
.print-heading{
    display: none;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
