.themeCol2 {
    color: orange;
}

.danger {
    color: red;
}

.tut-pro-photo {
    width: 100%;
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
}
.tut-pro-photo img {
    width: 100%;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
}

.td-image-container {
    width: 52px;
}

.list-imgs {
    height: 50px;
    width: 50px;
}
