<div class="row m-3 no-gutters">
    <div class="col-md-12 mb-1">
        <div class="d-flex justify-content-between">
            <h4>Project Owners</h4>
            <button class="green sm mb-2" (click)="openModal(plan, -1)">Add Project Owner</button>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Contact Name</th>
                        <th>Contact number</th>
                        <th>Email</th>
                        <th>Fax</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <ng-container *ngIf="dataStatus == 'fetching'">
                    <tbody [appSkeletonTabelLoader]="loaderOptions"></tbody>
                </ng-container>
                <ng-container *ngIf="dataStatus == 'done'">
                    <tbody *ngIf="projectOwnersList.length > 0; else noDataFound">
                        <tr *ngFor="let d of projectOwnersList; let i = index">
                            <td>{{d.org_name}} </td>
                            <td>{{d.poc_first_name}} {{d.poc_last_name}}</td>
                            <td>{{d.contact_1}} </td>
                            <td>{{d.email}} </td>
                            <td>{{d.fax_no}} </td>
                            <td class=" d-flex justify-content-center">
                                <div class="image-upload">
                                    <label for="file-input" (click)="openModal(plan,i)">
                                        <span class="themeCol2"><i class="fa fa-edit"></i></span>
                                    </label>
                                </div>

                                <div class="px-2 danger">
                                    <i class="fa fa-trash" (click)="confirmingModal(confirming, d.id,i)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #noDataFound>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <app-no-data-found></app-no-data-found>
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </ng-container>
            </table>
        </div>
    </div>
</div>

<ng-template #plan>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Manage Project Owners</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="pOwnerForm" (ngSubmit)="save(pOwnerForm, f)" #f="ngForm">
            <div class="row">
                <div class="col-md-6 mb-1">
                    <label class="mb-0">First Name <span class="mendatory">*</span></label>
                    <input formControlName="poc_first_name" class="form-control mt-0" placeholder="Enter first name" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.poc_first_name, f)" class="errors">
                        <p *ngIf="g.poc_first_name.errors.required">First name is required</p>
                        <p *ngIf="g.poc_first_name.errors.maxlength">Maximum {{ g.title.maxlength.requiredLength }} charaters</p>
                    </div>
                </div>

                <div class="col-md-6 mb-1">
                    <label class="mb-0">Last Name <span class="mendatory">*</span></label>
                    <input formControlName="poc_last_name" class="form-control mt-0" placeholder="Enter first name" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.poc_last_name, f)" class="errors">
                        <p *ngIf="g.poc_last_name.errors.required">Last name is required</p>
                        <p *ngIf="g.poc_last_name.errors.maxlength">Maximum {{ g.title.maxlength.requiredLength }} charaters</p>
                    </div>
                </div>

                <div class="col-md-6 mb-1">
                    <label class="mb-0">Contact Number <span class="mendatory">*</span></label>
                    <input formControlName="contact_1" class="form-control mt-0" placeholder="Enter Contact Number" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.contact_1, f)" class="errors">
                        <p *ngIf="g.contact_1.errors.required">Contact number is required</p>
                        <p *ngIf="g.contact_1.errors.maxlength">Maximum {{ g.contact_1.maxlength.requiredLength }} charaters</p>
                    </div>
                </div>

                <div class="col-md-6 mb-1">
                    <label class="mb-0">Company Name <span class="mendatory">*</span></label>
                    <input formControlName="org_name" class="form-control mt-0" placeholder="Enter company name" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.org_name, f)" class="errors">
                        <p *ngIf="g.org_name.errors.required">Compnay name is required</p>
                    </div>
                </div>

                <div class="col-md-6 mb-1">
                    <label class="mb-0">Address <span class="mendatory">*</span></label>
                    <input formControlName="address" class="form-control mt-0" placeholder="Enter address" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.address, f)" class="errors">
                        <p *ngIf="g.address.errors.required">Address is required</p>
                        <p *ngIf="g.address.errors.maxlength">Maximum {{ g.address.maxlength.requiredLength }} charaters</p>
                    </div>
                </div>
                <div class="col-md-6 mb-1">
                    <label class="mb-0">Email <span class="mendatory">*</span></label>
                    <input formControlName="email" class="form-control mt-0" placeholder="Enter email" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.email, f)" class="errors">
                        <p *ngIf="g.email.errors.required">Email is required</p>
                        <p *ngIf="g.email.errors.email">Enter valid email.</p>
                    </div>
                </div>

                <div class="col-md-6 mb-1">
                    <label class="mb-0">Fax</label>
                    <input formControlName="fax_no" class="form-control mt-0" placeholder="Enter Fax" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.fax_no, f)" class="errors">
                        <p *ngIf="g.fax_no.errors.required">Fax is required</p>
                        <p *ngIf="g.fax_no.errors.maxlength">Maximum {{ g.fax_no.maxlength.requiredLength }} charaters</p>
                    </div>
                </div>
            </div>



            <button type="submit" class="red sm m-1" [disabled]="saveLoading" [ngClass]="saveLoading?'in-progress':''">save <span></span><span></span><span></span></button>
            <button type="button" class="black sm ml-1" (click)="cancelRegionButton(f)">Cancel</button>

        </form>
    </div>
</ng-template>

<ng-template #confirming>
    <div class="modal-body admin-panel text-center">
        <p>Do you want to Delete?</p>
        <button type="button" class="green sm" (click)="modalRef.hide()">No</button>
        <button type="button" class="red sm mr-1" (click)="delete()" [disabled]="yesLoading" [ngClass]="yesLoading?'in-progress':''">Yes <span></span><span></span><span></span></button>
    </div>
</ng-template>