.box{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

}
.heading1{

    margin-top:30px ;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #084887;
    font-weight: bold;
}
.heading2{

    text-align: center;
    margin-top:10px ;
    width: 100%;
    font-size: 25px;
    color: #084887;
    font-weight: bold;
}
.checkMark{
    margin-top:30px ;
    width: 100%;
    text-align: center;
    font-size: 50px;
    color: #084887;
    font-weight: bold;
}

.dotEnimation{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #084887;
}
.dot {
    margin-left: 8px;
    animation: showHideDot 2.5s ease-in-out infinite;

  }
.one { animation-delay: 0.2s; }
.two { animation-delay: 0.4s; }
.three { animation-delay: 0.6s; }

@keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
  }
