<div class="main-container">
    <app-steps-template [step]="'planHolders'"></app-steps-template>
    <ng-container *ngIf="true">
        <div class="row" >
            <div class="col-md-9" style="margin-top: 23px;">
                <ng-autocomplete #autocomplete 
                    placeHolder="Search Planholders" 
                    [data]="planholdersSearchData"
                    [searchKeyword]="'company_name'" 
                    (inputChanged)="onChangeSearch($event)" 
                    (selected)="selectPlanholder($event)"
                    [itemTemplate]="itemTemplate"
                    [notFoundTemplate]="notFoundTemplate"
                    [debounceTime]="600" 
                    [minQueryLength]="2" style="margin-top: 24px;">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.company_name"></a>
                </ng-template>

                <ng-template #notFoundTemplate>
                    <div>
                        <p class="no-loc">No planholder found</p>
                    </div>
                </ng-template>
            </div>
            <div class="col-md-3">
                <label>Bid Phase</label>
                <select class="fadeIn" [(ngModel)]="dataService.bidPhase">
                    <option disabled [value]="null">Select Option</option>
                    <option value="open">Open</option>
                    <option value="awarded">Awarded</option>
                    <option value="bid_results">Bid Result</option>
                </select>
            </div>
        </div>
            
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Plan Holder</th>
                        <th *ngIf="dataService.bidPhase !== 'open'">Price</th>
                        <th class="col-actions">Action</th>
                    </tr>
                </thead>
                
                <tbody *ngIf="projectPlanHolers.length > 0">
                    <tr *ngFor="let d of projectPlanHolers; let i = index">
                        <td>{{ d.plan_holder.company_name }}</td>
                        <td *ngIf="dataService.bidPhase !== 'open'">
                            <input type="number" min="0" [(ngModel)]="projectPlanHolers[i].price" [ngModelOptions]="{standalone: true}" name="" id="">
                        </td>
                        <td>
                            <div class="d-flex">
                                <ng-container *ngIf="dataService.bidPhase == 'awarded'">
                                    <button type="button" (click)="awardProject(d,i)" class="sm green" *ngIf="d.awarded == 0;else awarded">Award</button>
                                    <ng-template #awarded>
                                        <button type="button" class="sm green">Awarded</button>
                                    </ng-template>
                                </ng-container>
                                <button type="button" class="sm red" (click)="selectedIndex=i;deletePop=pop" #pop="bs-popover" [popover]="removeRowTemplate" placement="left" [outsideClick]="true">Remove</button>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <tbody *ngIf="projectPlanHolers.length == 0 && loadingPlanholders==false">
                    <tr>
                        <td colspan="3">
                            <app-no-data-found></app-no-data-found>
                        </td>
                    </tr>
                </tbody>

                <tbody *ngIf="loadingPlanholders==true">
                    <tr>
                        <td colspan="3">
                            <app-loader></app-loader>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex align-items-center">
            <button type="button" class="sm red" (click)="dataService.navigateWindow({id:dataService.selectedId,step:'details'})">Back</button>
            <button [disabled]="isLoading" [ngClass]="isLoading? 'in-progress' : ''" type="button" class="sm green" (click)="saveData()">Save & Next <i class="fas fa-arrow-right f-10 ml-2"></i>
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </ng-container>
</div>
<ng-template #removeRowTemplate>
    <p>Are you sure to remove?</p>
    <button class="xs black" type="button" (click)="deletePop.hide()">No</button>
    <button class="xs red" (click)="removeRow()">Yes</button>
</ng-template>