<div class="my-container card-holder">
    <div class="card card-colored" *ngFor="let item of length">
        <div class="nav-row">
            
            <div class="col-md-5">
                <div class="skeletion" style="height:20px; width: 40%; float:left;"></div>
                <div class="skeletion left-bar" style="height:20px; width: 80%; float:left;"></div>
            </div>
            <div class="col-md-7 text-right bid-details">
                <div class="right-bar skeletion d-flex justify-content-end align-items-center" style="float: right; height:20px; width: 50%;"></div>
            </div>
        </div>
    </div>
</div>