<div class="container card-holder">
    <div class="card card-colored" *ngFor="let item of length">
        <div class="row">
            <div class="col-md-1">
                <div class="skeletion mt-2 mb-2" style="height: 40px; width: 40px;"></div>
            </div>
            <div class="col-md-8">
                <div class="skeletion mt-2 mb-2" style="height:20px; width: 200px;"></div>
                <div class="skeletion mt-2 mb-2" style="height:20px; width: 100%;"></div>
                <div class="skeletion mt-2 mb-2" style="height:20px; width: 250px;"></div>
            </div>
            <div class="col-md-3 text-right bid-details">
                <div class="skeletion mb-2 d-flex justify-content-end align-items-center pull-right" style="height:20px; width: 150px;"></div>
                <div class="skeletion  mb-2 d-flex justify-content-end align-items-center pull-right" style="height:20px; width: 150px;"></div>
                <div class="skeletion  mb-2 d-flex justify-content-end align-items-center pull-right mt-4" style="height:50px; width: 100px;"></div>
            </div>
        </div>
    </div>
</div>