<main>
  <section class="register_holder">
    <div class="container">
      <div class="register_form login_form">
        <h1 class="mb-2 text-center">Change Password</h1>
        <div class="alert alert-danger" role="alert" *ngIf="registrationError">
            {{registrationError}}
        </div>

        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(changePasswordForm)" #f="ngForm">
          <div class="row">
              <div class="col-md-12">
                  <div class="form-group">
                      <input type="text" class="fadeIn"  formControlName="old_password" placeholder="Enter Old Password">
                      <div *ngIf="ui.checkErrors(g.old_password, f)" class="errors">
                      <p *ngIf="g.old_password.errors.required">Old password is required</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <input type="password" class="fadeIn" formControlName="password" placeholder="Enter New Password">
                      <div *ngIf="ui.checkErrors(g.password, f)" class="errors">
                      <p *ngIf="g.password.errors.required">New password is required</p>  
                      </div>                    
                  </div>
              </div>  
              <div class="col-md-12">
                <div class="form-group">
                    <input type="password" class="fadeIn" formControlName="password_confirmation" placeholder="Confirm your password"> 
                    <div *ngIf="ui.checkErrors(g.password_confirmation, f)" class="errors">
                    <p *ngIf="g.password_confirmation.errors.required">Please confirm your password</p>        
                    </div>            
                </div>
            </div>  
              <div class="col-md-12">
                  <div class="form-group text-center">
                      <input type="submit" value="Change Password">
                  </div>
              </div>
          </div>
      </form>
     </div>
    </div>
  </section>
</main>

