<div class="signin-container">

    <div class="signin-box col-md-4">
        <div class="logo-container">
            <img class="logo" src="assets/images/TBD-full-color-logo.png" alt="">
        </div>

          <h4 class="text-center setP" >Forgot Password</h4>
          <div class="alert alert-danger" role="alert"*ngIf="forgotError">{{forgotError}}</div>
          <form #forgotForm="ngForm" (ngSubmit)="forgotPassword(forgotForm.form)">
              <div class="row input-container">
                  <div class="col-md-12 form-inputs">
                      <label class="lab">Email</label>
                      <input type="email" class="fadeIn" ngModel name="email" required placeholder="Email">
                      <div *ngIf="forgotForm.touched && forgotForm.controls['email'].invalid" style="font-weight: bold; color:red;">E-mail is invalid</div>
                  </div>

              </div>
              <div class="login-btn-container text-center">
                  <button class="primary">Submit</button>
              </div>
          </form>

    </div>
  </div>
