.address {
    color: #D40000;
}
.address-field {
    width: 94% !important; 
    margin-right: 1% !important;
}
#file_upload {
    display: none;
}
.custom_file_upload span {
    display: block;
    margin-top: 20px;
}
.custom_file_upload {
    display: block;
    padding: 35px 0px;
    cursor: pointer;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
    color: #c4c4c4;
    font-size: 14px;
}
.signup_img h1 {
    font-size: 24px;
    font-family: "Pangram-Bold";
}
.signup_img .custom_file_upload {
    max-width: 300px;
}

.tut-pro-photo {
    text-align: center;
    width: 100%;
    max-width: 320px;
    height: 250px;
    margin: 0 auto;
    border-radius: 6px;
}

.form-group label {
    display: block;
    margin: 0px;
    padding: 0px;
}

.form-group input,
.form-group select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 0px 13px;
}

input:focus, select:focus {
    outline: none;
}

.heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #084887;
    font-family: "Baloo Bhaina 2", cursive;
    /*text-shadow: 0px 0px 1px #084887;*/
}

@media only screen and (max-width:768px) {
    .heading h3 {
        font-size: 20px;
        font-weight: 600;
    }
}
@media only screen and (max-width:425px){ 
    .heading h1{
        font-size: 20px;
    }
}
