<div class="signin-container">

  <div class="signin-box">
      <div class="logo-container">
          <img class="logo" src="assets/images/TBD-full-color-logo.png" alt="">
      </div>

      <ng-container *ngIf="codeStatus == 'valid'">
        <h4 class="text-center setP" >Set Password</h4>
        <form [formGroup]="dataForm" (ngSubmit)="submit(dataForm, f)" #f="ngForm">
            <div class="row input-container">
                <div class="col-md-12 form-inputs">
                    <label class="lab">Password</label>
                    <input type="password" formControlName="password" class="email" placeholder="Enter Password" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.password, f)" class="errors">
                        <p *ngIf="g.password.errors.required">Password is required</p>
                    </div>
                </div>
                <div class="col-md-12 form-inputs" style="margin-top:10px;">
                    <label class="lab">Confirm Password</label>
                    <input type="password" formControlName="password_confirmation" placeholder="Enter Confirm Password" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.password_confirmation, f)" class="errors">
                        <p *ngIf="g.password_confirmation.errors.required">Confirm password is required</p>
                    </div>
                </div>
            </div>
            <div class="login-btn-container text-center">
                <button class="primary">Submit</button>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="codeStatus == 'expire'" >
      <div class="top-bar">
          <p class="text-center"></p>
      </div>
      <div class="successfully-registered">
          <h1 style="color: #084887;">Your Code is expired Or Not Valid</h1>
          <button class="facebook-btn" (click)="sendCodeAgain()" >Send Code Again</button>
      </div>
  </ng-container>
  <ng-container *ngIf="codeStatus == 'sent'" >
    <div class="top-bar">
        <p class="text-center"></p>
    </div>
    <div class="successfully-registered">
        <h1 style="color: #084887;">Code sent successfuly check your Email</h1>

    </div>
</ng-container>
  </div>
</div>
