<tbody>
    <tr>
        <td>
            <p class="skeletion" style=" width: 100%;"></p>
        </td>
        <td>
            <p class="skeletion" style="height: 40px; width: 40px;"></p>
        </td>
        <td>
            <p class="skeletion" style="height: 40px; width: 40px;"></p>
        </td>
        <td class="project-sample-status">
            <span class="skeletion" style="height: 40px; width: 40px;"></span>
        </td>
        <td class="project-sample-status">
            <span class="skeletion" style="height: 40px; width: 40px;"></span>
        </td>
        <td class="skeletion" style="height: 40px; width: 40px;"></td>
        <td class="text-center">
        </td>
    </tr>
</tbody>