.p-details-container {
    font-size: 12px;
    width: 100%;
    padding: 8px 6px;
    min-height: 300px;
}
.print-content-logo img{
    width: 300px;
    margin-bottom: 50px;
}
.print-heading .item{
    margin-top: 15px;
    margin-bottom: 15px;
}
.print-heading .item p{
    font-size: 18px;
}
.item {
    margin-left: 15px;
    margin-top: 10px;
    display: flex;
}
.table-container {
    padding: 0px 18px;
}
.item h3 {
    font-size: 14px;
    font-weight: 800;
    color: #0d65bc;
    margin-bottom: 0px;
}
.item p {
    font-size: 14px;
    margin-bottom: 0px;
}
.item h2 {
    color: #0d65bc;
}
th {
    background-color: #555555;
    color: #fff;
}

.ribbon {
    position: relative;
}

.ribbon .custom-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
}
@media (max-width: 768px) {
    .p-details-container {
        width: 100%;
    }
}
