<div class="row m-3 no-gutters">
    <div class="col-md-12 mb-2">
        <div class="d-flex justify-content-between">
            <h4>CSI Divisions</h4>
            <button class="green sm mb-2" (click)="openModal(csiDivionTemplate, -1)">Add</button>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label>Name</label>
                <input (keyup.enter)="page = 1;search()" type="text" class="form-control" [(ngModel)]="name" placeholder="Enter Name">
            </div>

            <div class="col col d-flex align-items-end">
                <label>&nbsp;</label>
                <div class="btn-group" dropdown>
                    <button type="button" class="lg green" (click)="page = 1;search()" [disabled]="waiting.search" [ngClass]="{'in-progress': waiting.search}">Search
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <ng-container *ngIf="dataStatus == 'fetching'">
                    <tbody  [appSkeletonTabelLoader]="loaderOptions"></tbody>
                </ng-container>

               <ng-container *ngIf="dataStatus == 'done'">
                    <tbody *ngIf="csiDivisionList.length > 0; else noDataFound">
                        <tr *ngFor="let d of csiDivisionList; let i = index">
                            <td>
                                {{d.name}}
                            </td>
                            <td>{{d.description}} </td>
                            <td>
                                {{d.status | titlecase}}
                            </td>
                            <td class=" d-flex justify-content-center align-items-center">
                                <!-- <div class="image-upload">
                                    <button *ngIf="d.status == 'active'" button class="sm red" (click)="inactiveUser(d.id, i)">Inactive</button>
                                    <button *ngIf="d.status == 'inactive'" button class="sm green" (click)="activeUser(d.id,i)">Active</button>
                                </div> -->
                                <div class="image-upload">
                                    <label class="m-0" for="file-input" (click)="openModal(csiDivionTemplate,i)">
                                        <span class="themeCol2"><i class="fa fa-edit"></i></span>
                                    </label>
                                </div>

                                <div class="px-2 danger">
                                    <i class="fa fa-trash" (click)="confirmingModal(confirming, d.id,i)"></i>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <ng-template #noDataFound>
                        <tbody>
                            <tr>
                                <td colspan="4">
                                    <app-no-data-found></app-no-data-found>
                                </td>
                            </tr>
                        </tbody>
                    </ng-template>
                </ng-container>
            </table>
            <nav aria-label="Page navigation example" *ngIf="dataStatus == 'done'">
                <ul class="pagination justify-content-left  mt-3">
                    <li class="page-item">
                        <small *ngIf="page<10">Current Page: 0{{page}}</small>
                        <small *ngIf="page>=10">Current Page: {{page}}</small>
                    </li>
                </ul>
                <ul class="pagination justify-content-left">
                    <li class="page-item" *ngIf="pagination.prev_page_url != null">
                        <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(page-1)">Previous</a>
                    </li>
                    <li class="page-item disabled" *ngIf="pagination.prev_page_url == null">
                        <a class="page-link" href="javascript: void(0)" tabindex="-1">Previous</a>
                    </li>
                    <ng-container *ngIf="pagination.last_page <= 6">

                        <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                            <li [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                                <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                            </li>
                        </ng-container>

                    </ng-container>

                    <ng-container *ngIf="pagination.last_page >= 7">

                        <ng-container *ngFor="let p of [].constructor(pagination.last_page); let i=index">
                            <li *ngIf="i<4" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                                <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                            </li>
                            <li *ngIf="(pagination.last_page-i) == 3" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                                <a class="page-link">...</a>
                            </li>
                            <li *ngIf="(pagination.last_page-i)==1 || (pagination.last_page-i)==2" [class]="page==(i+1) ? 'page-item active' : 'page-item'">
                                <a class="page-link" href="javascript: void(0)" (click)="setPagination(i+1)">{{i+1}}</a>
                            </li>
                        </ng-container>

                    </ng-container>

                    <li class="page-item" *ngIf="pagination.next_page_url != null">
                        <a class="page-link" href="javascript: void(0)" tabindex="-1" (click)="setPagination(+page+1)">Next</a>
                    </li>
                    <li class="page-item disabled" *ngIf="pagination.next_page_url == null">
                        <a class="page-link" href="javascript: void(0)" tabindex="-1">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<ng-template #csiDivionTemplate>
    <div class="modal-header">
        <h4 class="modal-first_name pull-left">Add/Edit CSI Division</h4>
    </div>
    <div class="modal-body">
        <form [formGroup]="csiDivisionForm" (ngSubmit)="save(csiDivisionForm, f)" #f="ngForm">
            <div class="row">

                <div class="col-md-6 mb-2">
                    <label class="mb-0">Name<span class="mendatory">*</span></label>
                    <input formControlName="name" class="form-control mt-0" placeholder="Enter First Name" [ngClass]="{'form-submitted': f.submitted}">
                    <div *ngIf="ui.checkErrors(g.name, f)" class="errors">
                        <p *ngIf="g.name.errors.required">Name is required</p>
                        <p *ngIf="g.name.errors.maxlength">Maximum {{ g.name.maxlength.requiredLength }} charaters</p>
                    </div>
                </div>

                <div class="col-md-6 mb-2">
                    <label class="mb-0">Description <span class="mendatory">*</span></label>
                    <textarea formControlName="description" class="form-control mt-0" placeholder="Enter Div Description" [ngClass]="{'form-submitted': f.submitted}"></textarea>
                    <div *ngIf="ui.checkErrors(g.description, f)" class="errors">
                        <p *ngIf="g.description.errors.required">Description is required</p>
                        <p *ngIf="g.description.errors.maxlength">Maximum {{ g.description.maxlength.requiredLength }} charaters</p>
                    </div>
                </div>
            </div>

            <button type="submit" class="red sm m-1" [disabled]="waiting.loader" [ngClass]="{'in-progress': waiting.loader}">save
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button type="button" class="black sm ml-1" (click)="cancelDivisionButton(f)">Cancel</button>

        </form>
    </div>
</ng-template>

<ng-template #confirming>
    <div class="modal-body text-center">
        <p>Do you want to Delete?</p>
        <button type="button" class="green sm" (click)="modalRef.hide()">No</button>
        <button type="button" class="red sm mr-1" (click)="delete()" [disabled]="waiting.loader" [ngClass]="{'in-progress': waiting.loader}">Yes
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</ng-template>
