<main class="inner_main container-fluid p-5">
    <h2 class="mb-3">About Us</h2>

    <b>What does TBD offer to the community?</b>
    <p class="mb-3 mt-1">Have you even had an amazing experience with your aircraft service provider which you just couldn’t wait to share with your friends?  Have you ever had a horrible experience with an aircraft service provider which you thought you should share with others?</p>

    <p class="mb-3">Too often as aircraft owners we rely on word of mouth to make our choices on who should take care of our aircraft.  Sometimes it works out. Sometimes it doesn’t and we spend a lot of unnecessary money.
        tbd.com takes the single-source reference out of the equation and provide a peer network of user-generated service provider feedback to help you as an aircraft owner make a well informed decision on who your service provider will be based on other people’s real experiences.
    </p>

    <p class="mb-3">TBD is a community of Aircraft owners, supporting other Aircraft owners.</p>
</main>
