<div class="footer">
    <div class="container-fluid">

        <div class="row">
            <div style="" class="portion first-portion col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <a _ngcontent-chc-c51="" routerlinkactive="active" class="navbar-brand active" ng-reflect-router-link-active="active" ng-reflect-router-link="/" href="/">
                    <div><img src="\assets\images\TBD-full-gray-logo.png" alt=""></div>
                </a>
                <div style="display: flex; margin-top: 10px;">
                    <img style="height: 20px;" src="\assets\images\TBD-gray-logo.png" alt="">
                    <p>True Bid Data Inc.</p>
                </div>

                <p><i class="fa fa-map-marker"></i> 99 Wall Street, Suite 556 NewYork, NY, 10005 </p>
                <p><i class="fa fa-map-marker"></i> 219 Haverford Ave, Narberth, PA 19072 </p>
                <p><i class="fa fa-mobile"></i> <a class="ml-1" href="tel:+17187172601">(718) 717-2601</a></p>
                <p><i class="fa fa-envelope"></i> <a class="ml-1" href="mailto:support@truebiddata.com">support@truebiddata.com</a></p>

            </div>
            <div style="" class="portion second-portion col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <img style="" src="\assets\images\best-price.png" alt="">

            </div>
            <div style="" class="portion third-portion col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <p style="font-weight: bold;font-size: 16px;">Search</p>

                <div class="footer-search-place">
                    <input type="text" class="footer-search-input form-control" placeholder="Search Projects" [(ngModel)]="filters.title">
                    <button class="footer-search-btn btn btn-default" type="button" (click)='redirectToSearch()'>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <div class="social-icons">
                    <a href="https://www.facebook.com/tbd.truebiddata/" target="_Blank"> <i class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/truebiddata/" target="_Blank"><i class="fa fa-instagram"></i></a>
                    <a href="https://twitter.com/TrueBidData" target="_Blank"> <i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/true-bid-a47a37196" target="_Blank"> <i class="fa fa-linkedin-square"></i></a>
                    <a href="https://www.youtube.com/channel/UCFGJFwjrbzqdtvY-N7neDAw?view_as=subscriber" target="_Blank"> <i class="fa fa-youtube-play"></i></a>
                    <a href="https://www.pinterest.com/truebiddata/" target="_Blank"> <i class="fa fa-pinterest"></i></a>
                </div>
                <div class="social-icons">


                </div>
            </div>


        </div>

        <div class=" copyright-bar ">
            <p>

                &#169; Copyright 2021 True Bid Data Inc. All rights reserved. Version 1.0.0.2
            </p>
        </div>


    </div>

</div>